* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #E5E5E5;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.barra-topo1 {
    background-color: #EC362D;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.titulo-pagina {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
}

.conteudo1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quizz-proprio1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 900px;
    height: 200px;
    margin-top: 70px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
}

.aviso1 p {
    display: flex;
    text-align: center;
    width: 250px;
    font-size: 20px;
    font-weight: 400;
    color: #B9B9B9;
}

.criar-quizz1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: #EC362D;
    width: 120px;
    height: 30px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer
}

.titulo1 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}

.quizz-site1 {
    background-color: white;
    width: 67%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.layout-quizz1 {
    width: 280px;
    height: 140px;
    margin-left: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
    cursor: pointer;
}

.spanLayout-quizz1 {
    width: 240px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    word-break: break-word;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 90px;
    left: 5%;
    position: absolute;
    z-index: 1;

}

.imgLayout-quizz1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5%;
}

.degrade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.quizzes-usuario {
    font-weight: 700;
    font-style: bold;
    display: flex;
    justify-items: center;
    margin-right: 750px;
}



.icone-plus {
    color: red;
    font-size: 35px;
    margin-left: 20px;
}

/*Tela 1 - Douglas*/




/* Tela 3 */
.conteudo3CriacaoBasica {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo3CriacaoPerguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacaoBasica3 {
    width: 600px;
    height: 256px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.criacaoPerguntas3 {
    width: 600px;
    height: 825px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.criacaoPerguntas3-1 {
    width: 600px;
    height: 74px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    position: relative;
}

.organizaMsg3 {
    width: 145px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    display: block;
    align-items: center;
}

.organizaMsg3Perg {
    width: 145px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    display: block;
    align-items: center;
    padding-top: 27px;
    box-sizing: border-box;
}

.inputBasico3 {
    width: 564px;
    height: 46px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 0;
    box-sizing: border-box;
}

.inputPerguntas3 {
    width: 564px;
    height: 46px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
}

.botao3 {
    width: 368.86px;
    height: 54px;
    margin-top: 60px;
    background: #EC362D;
    border-radius: 15px;
    box-shadow: none;
}

.textoBotao3 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 12px;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
}
}

.titulo3 {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}

.titulo3Perg {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}

.pergunta3 {
    width: 200px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    display: flex;
}

.espaco {
    margin-bottom: 30px;
}

.iconPerg {
    width: 25px;
    height: 25px;
    margin-left: 530px;
    margin-top: -32px;
    position: absolute;
}


/* TELA 2 - LETICIA */

.tela2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo2 {
    margin-top: 50px;
    width: 100%;
    height: 227px;
    position: relative;
    background-color: black;
}

.topo2 .image2 {
    width: 100%;
    height: 227px;
    object-fit: cover;
    opacity: 40%;

}

.topo2 .titulo2 {
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}


.pergunta2 {
    width: 759px;
    /* height: 676px; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.cxEnunciado2 {
    width: 688px;
    height: 138px;
    background-color: #FA4D7E;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 28px;

    font-weight: 700;
    color: #FFFFFF;
    font-size: 23px;
}

.alternativas2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 688px;
    justify-content: space-between;
}

.alternativa2 {
    display: flex;
    width: 330px;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 36px;
}

.imgAlternativa2 {
    width: 330px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.txtAlternativa2 {
    font-size: 20px;
    font-weight: 700;
}

.escondido {
    display: none;
}

.respostaSelecionada {
    box-shadow: 0 0 0 5px #32B72F;
}



@media (max-width: 1100px) {

    /* tela 1 - Douglas */

    .quizz-proprio1 {
        width: 80%
    }

    .quizz-site1 {
        width: 80%;
    }

    .layout-quizz1 {
        width: 90%;
    }

    .icone-plus {
        margin-left: 200px;
    }

    .quizzes-usuario {
        margin-left: 800px;
    }

    /* tela 2 - Leticia */

    .topo2 {
        height: 142px;
    }

    .topo2 .image2 {
        height: 142px;
    }

    .topo2 .titulo2 {
        font-size: 19px;
    }

    .pergunta2 {
        width: 100%;
        height: auto;
        margin-top: 24px;
    }

    .cxEnunciado2 {
        width: 340px;
        height: 89px;
        font-size: 19px;

    }

    .alternativas2 {
        width: 340px;
    }

    .alternativa2 {
        width: 163px;
    }

    .imgAlternativa2 {
        width: 163px;
        height: 113px;
        margin-top: 13px;
        margin-bottom: 5px;
    }

    .txtAlternativa2 {
        font-size: 13px;
    }

    /* Tela 3 */
    .inputBasico3 {
        width: 341px;
    }

    .inputPerguntas3 {
        width: 341px;
    }

    .criacaoBasica3 {
        width: 375px;
    }

    .criacaoPerguntas3 {
        width: 375px;
    }

    .botao3 {
        width: 324px;
    }
}